Makefile
Makefile.in
.deps
.libs
.dirstamp

/configure
/config.guess
/config.sub
/config.status
/aclocal.m4
/autom4te.cache
/m4
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/libtool

/src/*.lo
/src/*.pc

/Debug
/Release

/x64/*
/ipch/*

*.sdf
*.aps
*.suo
*.log
*.[oa]
*.so
*.la
lashetest_*
