.directory
Makefile
Makefile.in
/configure
/config.guess
/config.sub
/config.status
/aclocal.m4
/autom4te.cache
/m4
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/libtool
/src/.deps
/src/.libs

/src/*.lo
/src/*.pc

/Debug
/Release

/x64/*
/ipch/*

*.sdf
*.aps
*.suo
*.log
*.[oa]
*.so
*.la

